body, html{
    height:75%;
    align:center;
    text-align:left;
    font-family:'Arial Narrow', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.logo{
    padding: 20px;
    margin-bottom: 40px;
    text-align:center;
 }

#form{
    margin-top:5px;
    margin-right: 25%;
    margin-left: 38%;
    margin-bottom: 10px;
    width: 400px; 
    height: 300px;
    border: 1px solid gray; 
    padding:20px;
}

#set{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

[id^="links"]{
    text-decoration:none;
    color:blue;
}

#email{
    margin-top: 5px;
    min-height: 10%;
    min-width: 100%;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px; 
}

#password{
    margin-top: -10px;
    min-height: 10%;
    min-width: 100%; 
    font-size: 16px;
    padding: 5px; 
    margin-bottom: 10px;
}

#links-forgot{
    font-size: 16px;
}

.button{
    background-color: #f3cb48;
    border: 1px solid black;
    min-height: 10%;
    min-width: 100%;
    margin-bottom:20px;
}

#button{
    min-height: 10%;
    min-width: 25%;
    margin-top: -20px;
    margin-bottom: 30px;
}

.arrow-right{
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid blue;
  }

#links-help{
    font-size: 16px;
    margin-left: 35px;
}

.help{
    display: flex;
    justify-content: space-between;
}

#new_account{
    text-align:center;
    color: gray;
    font-size: 16px;
    margin top: 0px;
}

.line{
    display: inline-block;
    background-color: black;
    color: black;
    width: 100%;
    height: 1px;
    vertical-align:middle;
}

#footlinks{
    margin-top: 45px;
    margin-bottom: 20px;
    margin-right: 42%;
    margin-left: 42%;
    display: flex;
    justify-content: space-between;
}

footer{
    text-align:center;
    margin:0px;
    width: 100%;
    padding: 20px;
    list-style-type:none;
}